.photo_grid_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    overflow: hidden;
    max-width: 300px;
    position: relative;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden {
    display: none;
}

.carousel .carousel_item img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.carousel .carousel_item--visible {
    display: block;
}

.carousel_actions {
    display: flex;
    justify-content: center;
}

.carousel_actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel_actions button#carousel_button--prev {
    margin-right: 20px;
}

.carousel_actions button#carousel_button--next {
    margin-left: 20px;
}
