.html {
    height: 100%;
    background-color: cornsilk;
}

.container {
    display: flex;
    justify-content: center;
}

.search-bar {
    background-color:darkslategray;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    width: 10%;
    padding: 20px;

}

.input {
    display: flex;
    justify-content: center;
    background-color:floralwhite;
}